html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}



/* NAVIGATION BAR */
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #3c8dbc;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand img {
  height: 50px;
  width: 80px;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #3c8dbc;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #3c8dbc;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #3c8dbc !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #3c8dbc;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #3c8dbc;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #3c8dbc;
  }
}


/* ========================================================================================= */

/* CAROUSEL*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:55%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 450%;
    text-shadow: 1px 1px 15px #000;
    font-weight: bold;
} 

.carousel-caption h1 span {
    color: #edbb00;
    font-weight: bold;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.carousel-caption h3 span {
    color: #edbb00;
    font-weight: bold;
}


/* ========================================================================================= */

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
}

/* ABOUT */
#about {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../../resource/img/homepage/Homepage1.jpg) no-repeat center center fixed;
    display: table;
    height: 700px;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top:200px;
    padding-bottom:150px;

}

#about .about-text {
    background-color: white;
    opacity: 0.7;
    padding:20px 20px;
}

#about p {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

}

/* ========================================================================================= */

/*SERVICES*/

#services {
  background-color: white;
  color: black;
}

#services .container-fluid .row .col-sm-6 p {
  padding-left: 60px;
}

/* ========================================================================================= */

/*FAQS*/

#faqs {
    background-color: #497391;
}

#faqs .accordion .card .card-header button {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
}

#faqs .accordion .card .card-header button:hover {
    text-decoration: none;
}

#faqs .accordion .card .card-body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
}


.fixed-image {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../../resource/img/homepage/fixed.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
}

/* COURSES */
#courses .card {
  margin: 20px 10px;
}

#courses .card-body {
  box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

/* CONTACT US */

#footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

#footer p {
  font-size: 15px;
}


#footer .facebook a i {
    color: white;
    text-decoration: none;
}


/*============================================*/
@media (max-width: 992px){

}

@media (max-width: 768px){
  .carousel-caption {
    top:45%;
  }

  .carousel-caption h1 {
    font-size: 200%;
  } 

  .carousel-caption h3 {
    font-size: 150%;
    font-weight: 200;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
  }
}

@media (max-width: 576px){
  .carousel-caption {
    top:45%;
  }

  .carousel-caption h1 {
    font-size: 160%;
  } 

  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 100;
    padding-bottom: 1rem;
  }

  .carousel-caption .btn {
    font-size: 80%;
  }
}
