html, body {
    height: 100%;
    width: 100%;
}

/* NAVIGATION BAR */
.navbar {
    background-color: transparent;
    padding: 0 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: none;
    text-transform: uppercase;
}

.navbar-brand {
    color: #fff;

}

.navbar-default .navbar-nav li a {
    color: #fff;
    padding-right: 20px;
}

.navbar-default .navbar-nav li a:hover,   {
    color: #f2f2f2;
}

.navbar-default .navbar-nav li a.active {
    background-color: #d5d5d5;
}

.navbar-default .navbar-nav .dropdown-menu .dropdown-header {
    color: black;
    font-size: 12px;
    background-color: gray;
}

.navbar-default .navbar-nav .dropdown-menu .dd-content a {
    color: gray;
    font-size: 10px;

}


/* CAROUSEL*/
.carousel-inner {
    height: 103vh;
}
.carousel-inner .item .carousel-img {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), no-repeat center center fixed;
}

#my-slider .carousel-inner .carousel-caption {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 250px;
}

.carousel-caption h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
} 

.carousel-caption h2 span {
    color: #edbb00;
    font-weight: bold;
}

.carousel-caption h3 span {
    color: #edbb00;
    font-weight: bold;
}

.carousel-caption .signup-btn {
    background-color: #edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.carousel-caption .signin-btn {
    background-color: #A2C710;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
} 

.carousel-caption .signin-btn:hover {
    opacity: 80%;
    background-color: #B3C710;
}

.carousel-caption .signup-btn:hover {
    opacity: 80%;
    background-color: #CDC22D;
}


/*#home {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(Img/Servers4.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}*/

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
}

.landing-text h3 {
    font-size: 200%;
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
}

.landing-text span {
    color: #38d39f;
}

/*.btn {
    border: 1px solid white;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
}

.btn:hover {
    background: white;
  */  color: #333;
}

#about {
    padding-top: 50px;
}
.padding {
    padding: 70px 0;
}

.padding img {

}

.padding h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.padding p {
     font-family: 'Montserrat', sans-serif;
     font-size: 1.2em;  
     text-align: justify;
}

#services {
    background-color: #A2C710;
    padding: 70px 0;
}

#services p {
    text-align: center;
    color: black;
}

#services h3 {
    font-family: 'Montserrat', sans-serif;
}

#services .section-heading {
    margin-left: 500px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#services .services {
    padding-bottom: 50px;
}

#services i {
    color: #fff;
}

#fixed {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../../resource/img/homepage/fixed.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
}

/* CONTACT US */

footer {
    width: 100%;
    background-color: black;
    padding: 5% 5% 10% 5%;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;

}

.icon {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.icon:hover {
    color: #d5d5d5;
}

footer h3 {
    font-weight: bold;
    text-transform: uppercase;
}


/* COURSES */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 100%;
    height: 300px;
    background: #ffff;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox {
    position: relative;
    overflow: hidden;
    top: 50px;
}

.container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}


.container .box:hover .imgBox img {
    transform: scale(1.2);
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container .box .details .content h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

.coursesContainer .box .details .content a {
    color: #F05F40;

}

.courseOutline-btn {
    background-color: #edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none; 
}

.courseOutline-btn:hover {
    opacity: 75%;
    text-decoration: none;
}

#about .about.-img .about-text {
    margin-top: 80px;   
}

.courses {
    width: 100%;
    padding: 5% 5% 10% 5%;
}


.heading-course {
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100px;
    width: 500px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 25px;
}

.course-content {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    width: 500px;
    text-align: justify;
    margin-top: 15px;
    padding: 40px 5px;
    font-size: 18px;
}

/*============================================*/

html {
    scroll-behavior: smooth;
    }

@media only screen and (max-width: 768px) and (max-width: 991px){

}

@media only screen and (max-width: 767px) {
    .icon {
        font-size: 20px;
        padding: 10px;

    }

    .navbar-collapse {
        background: rgba (0,0,0,0.5);
        border-top: none;
    }

    #my-slider .carousel-inner .carousel-caption {
        padding-bottom: 120px;
    }

    .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-caption a {
        padding: 10px;
    }
}
