html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.navbar-brand img {
    width:45px;
    height:45px;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}


/* ========================================================================================= */

/* CAROUSEL*/
.carousel-inner {
    height: 103vh;
}
.carousel-inner .carousel-item img {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), no-repeat center center fixed;
}

#carousel .carousel-inner .carousel-caption {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 280px;
}

.carousel-caption h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
} 

.carousel-caption h2 span {
    color: #edbb00;
    font-weight: bold;
}

.carousel-caption h3 span {
    color: #edbb00;
    font-weight: bold;
}

.carousel-caption .signup-btn {
    background-color: #edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.carousel-caption .signin-btn {
    background-color: #A2C710;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
} 

.carousel-caption .signin-btn:hover {
    opacity: 80%;
    background-color: #B3C710;
}

.carousel-caption .signup-btn:hover {
    opacity: 80%;
    background-color: #CDC22D;
}

/* ========================================================================================= */

.section {
    padding: 50px 50px;
}

/* ABOUT */
#about {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../../resource/img/homepage/Homepage1.jpg) no-repeat center center fixed;
    display: table;
    height: 700px;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top:250px;
    padding-bottom:20px;
    padding-left:0;
    padding-right: 0;
}

#about .about-text {
    background-color: white;
    opacity: 0.7;
    width: 100%;
    padding:20px 20px;
}

#about p {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

}
#about h2 .section-heading {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#about hr {
  max-width: 250px;
  border-width: 3px;
  border-color: yellow;
}

/* ========================================================================================= */

/*SERVICES*/

.service-box {
  max-width: 400px;
}

#services i {
    color:#497391;
}

/* ========================================================================================= */

/*FAQS*/

#faqs {
    background-color: #497391;
}

#faqs .accordion .card .card-header button {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
}

#faqs .accordion .card .card-header button:hover {
    text-decoration: none;
}

#faqs .accordion .card .card-body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
}

.fixed-image {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(../../resource/img/homepage/fixed.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
}

/* COURSES */
#courses .card {
    width:350px;
    height: 300px;
}

/* CONTACT US */

#footer {
    width: 100%;
    background-color: #edbb00;
    font-family: 'Montserrat', sans-serif;

}

#footer fa-3x {
 color: black;
}

#footer a .facebook {
    color:black;
}

/* COURSES */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 100%;
    height: 300px;
    background: #ffff;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox {
    position: relative;
    overflow: hidden;
    top: 50px;
}

.container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}


.container .box:hover .imgBox img {
    transform: scale(1.2);
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container .box .details .content h3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

.coursesContainer .box .details .content a {
    color: #F05F40;

}

.courseOutline-btn {
    background-color: #edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none; 
}

.courseOutline-btn:hover {
    opacity: 75%;
    text-decoration: none;
}


.courses {
    width: 100%;
    padding: 5% 5% 10% 5%;
}


.heading-course {
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100px;
    width: 500px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 25px;
}

.course-content {
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    width: 500px;
    text-align: justify;
    margin-top: 15px;
    padding: 40px 5px;
    font-size: 18px;
}

#terms h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

#terms .terms-content {
    font-family: 'Montserrat', sans-serif;
}

/*============================================*/


@media only screen and (max-width: 768px) and (max-width: 991px){

}

@media only screen and (max-width: 767px) {
    .icon {
        font-size: 20px;
        padding: 10px;

    }

    .navbar-collapse {
        background: rgba (0,0,0,0.5);
        border-top: none;
    }

    #my-slider .carousel-inner .carousel-caption {
        padding-bottom: 120px;
    }

    .carousel-caption h2 {
        font-size: 25px;
    }

    .carousel-caption a {
        padding: 10px;
    }
}
